{% extends 'base.html' %}
{% load static %}
{% block body %}
	

<body>
		<!-- content-starts-here -->
		<div class="content">
			<div class="categories">
				<div class="container">
					
					{% for category in all_category %}
												
					<div class="col-md-2 focus-grid">
						<a href="{% url 'products:product_list_category' category.slug  %}">
							<div class="focus-border">
								<div class="focus-layout">
									<div class="focus-image"><i class="fa fa-mobile"></i></div>
									<h4 class="clrchg">{{category}}</h4>
								</div>
							</div>
						</a>
					</div>

					{% endfor %}

					<div class="clearfix"></div>
				</div>
			</div>
			<div class="trending-ads">
				<div class="container">
				<!-- slider -->
					<script type="text/javascript">
						 $(window).load(function() {
							$("#flexiselDemo3").flexisel({
								visibleItems:1,
								animationSpeed: 1000,
								autoPlay: true,
								autoPlaySpeed: 5000,    		
								pauseOnHover: true,
								enableResponsiveBreakpoints: true,
								responsiveBreakpoints: { 
									portrait: { 
										changePoint:480,
										visibleItems:1
									}, 
									landscape: { 
										changePoint:640,
										visibleItems:1
									},
									tablet: { 
										changePoint:768,
										visibleItems:1
									}
								}
							});
							
						});
					   </script>
					   <script type="text/javascript" src="{% static 'js/jquery.flexisel.js' %}"></script>
					</div>   
			</div>
			<!-- //slider -->				
			</div>
			<div class="mobile-app">
				<div class="container">
					<div class="col-md-5 app-left">
						<a href="mobileapp.html"><img src="{% static 'images/app.png' %}" alt=""></a>
					</div>
					<div class="col-md-7 app-right">
						<h3>Green MarketsApp is the <span>Easiest</span> way for Selling and buyin gGreen foods and healthy fruits</h3>
						<p> green makets app is our native crossplatform app that enables our customers to have access to our green markets and have to accces to managing the retail dash board .</p>
						<div class="app-buttons">
							<div class="app-button">
								<a href="#"><img src="{% static 'images/1.png' %}" alt=""></a>
							</div>
							<div class="app-button">
								<a href="#"><img src="{% static 'images/2.png' %}" alt=""></a>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<!--footer section start-->		
		<footer>
			<div class="footer-top">
				<div class="container">
					<div class="foo-grids">
						<div class="col-md-3 footer-grid">
							<h4 class="footer-head">Who We Are</h4>
							<p>Green MarketsApp is a long established core business that gives our customers to acces to quality fresh goods  straight from our farms and supplires.</p>
							<p>The advantege of using a mobile app,  its the fastested and user freindly readable  'Content here.</p>
						</div>
						<div class="col-md-3 footer-grid">
							<h4 class="footer-head">Help</h4>
							<ul>
								<li><a href="#">How it Works</a></li>						
								<li><a href="#">Sitemap</a></li>
								<li><a href="#">Faq</a></li>
								<li><a href="#">Feedback</a></li>
								<li><a href="#">Contact</a></li>
								<li><a href="#">Shortcodes</a></li>
							</ul>
						</div>
						<div class="col-md-3 footer-grid">
							<h4 class="footer-head">Information</h4>
							<ul>
								<li><a href="#">Locations Map</a></li>	
								<li><a href="#">Terms of Use</a></li>
								<li><a href="#">Popular searches</a></li>	
								<li><a href="#">Privacy Policy</a></li>	
							</ul>
						</div>
						<div class="col-md-3 footer-grid">
							<h4 class="footer-head">Contact Us</h4>
							<span class="hq">Our headquarters</span>
							<address>
								<ul class="location">
									<li><span class="glyphicon glyphicon-map-marker"></span></li>
									<li>CENTER FOR FINANCIAL ASSISTANCE TO ZAMBIA</li>
									<div class="clearfix"></div>
								</ul>	
								<ul class="location">
									<li><span class="glyphicon glyphicon-earphone"></span></li>
									<li>+2609123456789</li>
									<div class="clearfix"></div>
								</ul>	
								<ul class="location">
									<li><span class="glyphicon glyphicon-envelope"></span></li>
									<li><a href="rabbikindalo001@gmail.com">rabbikindalo001@gmail.com</a></li>
									<div class="clearfix"></div>
								</ul>						
							</address>
						</div>
						<div class="clearfix"></div>
					</div>						
				</div>	
			</div>	
			<div class="footer-bottom text-center">
			<div class="container">
				<div class="footer-logo">
					<a href="index.html"><span>Re</span>sale</a>
				</div>
				<div class="footer-social-icons">
					<ul>
						<li><a class="facebook" href="#"><span>Facebook</span></a></li>
						<li><a class="twitter" href="#"><span>Twitter</span></a></li>
						<li><a class="flickr" href="#"><span>Flickr</span></a></li>
						<li><a class="googleplus" href="#"><span>Google+</span></a></li>
						<li><a class="dribbble" href="#"><span>Dribbble</span></a></li>
					</ul>
				</div>
				<div class="copyrights">
					<p> © 2022 reumaifabe. All Rights Reserved | Design by  <a href="rabbikindalo001@gmail.com">rabbikindalo001@gmail.com</a></p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		</footer>
        <!--footer section end-->
</body>

{% endblock body %}